<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="keysTable">
      <ion-col class="tableCol">
        <ion-accordion-group multiple="true">
          <app-user *ngFor="let keyItem of listaUsuarios" [id]="keyItem[0]" [name]="keyItem[1].Nombre" [lastName]="keyItem[1].Apellido" [email]="keyItem[1].Email" [career]="keyItem[1].Carrera" [semester]="keyItem[1].Semestre"></app-user>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
